p{
	text-align: center;
	font-family: Arial, Verdana;
	font-weight: bold;
	color: red;
	font-size: 50px
}

footer{
font-family: Arial, Verdana;
font-weight: bold;
font-style: italic;
color: black;
text-align: center;

}
body{
background-color: blue;
}

#primeiro{
background-color: white;
font-size: 20px;
color: black;
margin-right: 10%;
margin-left: 10%;

}
#segunda{
background-color: grey;
font-size: 20px;
color: black;
margin-right: 10%;
margin-left: 10%;

}