  
    #header{
        position:fixed;
        text-align: center;
        color: green;
        top:5px;
        width:100%;
        height:50px;
        background:#ccc;}
        
        #content{
        position: absolute;
        width:100%;
        padding: 10%;

    
    }
        
        #footer{
        position: absolute;
        text-align: center;
        bottom: 0;
        width:100%;
        height:50px;
        background:#ccc;}

        body{
            margin-right: auto;
            margin-left: auto;
        }
        h2{
            text-align: left;
            text-size-adjust: 25px;
            color: black;
        }
        h3{
            text-align: left;
            text-size-adjust: 25px;
            color: rgb(204, 33, 33);
        }

        #direita{
            align-self: left;
        }
        #esquerda{
            align-self: left;
        }
        aside {
            width: 60%;
            padding-left: .5rem;
            margin-left: .5rem;
            float: right;
            box-shadow: inset 5px 0 5px -5px #29627e;
            font-style: italic;
            color: #29627e;
        }
        img{
            width: 80%;
            height: 80%;
        }